@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --address-bg:#F9F8F8;
  --white: #fff;
  --site-bg: #E5E5E5;
  --black: #333333;
  --dot-yellow: #FFBD54;
  --hero-headeing-blue: #78C0DE;
  --hero-text: #949494;
  --nav-hover: #F4FFAD;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Futura PT", "Arial", sans-serif;
  background-image: url(../img/Home_page.png);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--site-bg);
  margin: 0;
  z-index: -99;
  overflow-x: hidden;
}
.container {
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.site_header {
  position: relative;
}

/* SITE HEADER ADDRESS */
.address-header {
  color: var(--black);
  margin-top: 11px;
  margin-bottom: 9px;
}
.address__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 110px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

}
.address__item {
  /* padding-left: 15px; */
  display: flex;
  align-items: center;


}
.address__item:last-child {
  display: flex;
  align-items: center;
}
.address_text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.home::before {
  content: "";
  background-image: url(../img/address-home-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  width: 14px;
  height: 13px;
  left: 12px;
  margin-right: 9px;
}
.phone::before {
  content: "";
  background-image: url(../img/address-phone-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 9px;
  width: 13px;
  height: 13px;
  /* left: 12px; */
  margin-right: 9px;
}
.calendar::before {
  content: "";
  background-image: url(../img/address-calendar-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 9px;
  width: 14px;
  height: 14px;
  /* left: 12px; */
  margin-right: 9px;
}
.dot::before {
  content: "";
  background-image: url(../img/address-dot-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4px;
  margin-top: 3px;

}
.address__phone {
  text-decoration: none;
  color: var(--black);
  margin-right: 22px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
}


/* SITENAV */
.sitenav-main {

  position: relative;
  background-color: var(--white);
}
.sitenav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  position: absolute;
  transform: translateY(-22%);
  left: 0;
  top: 0;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: auto;
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  margin-right: 30px;
  position: relative;
  z-index: 1;
}
.sitenav__list-item:active {
  opacity: 0.6;
}
.link {
  position: relative;
  z-index: 5;
}
.link:active {
  opacity: 0.6;
}
.sitenav__list-item::after {
  content: "";
  position: absolute;
  background-color: var(--nav-hover);
  height: 4px;
  width: 100%;
  bottom: 4px;
  z-index: -1;
  opacity: 0;
}

.sitenav__list-item:hover::after{
  opacity: 1;
}

.active {
  display: flex;
}
.active::before {
  content: "";
  background-image: url(../img/active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 9px;
  width: 14px;
  height: 14px;
  margin-right: 9px;
}
.sitenav__list-item:hover {
  margin-right: 30px;
}
.sitenav__link {
  text-decoration: none;
  color: var(--black);
}
.sitenav__link:hover {
  color: #2D314D;
}

.header__link {
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
}
.header__link::before {
  content: "";
  background-image: url(../img/header-link-hand.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  width: 23px;
  height: 20px;
  margin-right: 5px;
}


.main {
  background-color: var(--site-bg);
  z-index: -1;
}


/* HERO */
.hero {

  background-image: url(../img/heero-bg-animals.svg), url(../img/hero-bg-parrot.svg);
  /* background-size: cover,cover; */
  background-repeat: no-repeat;
  background-position: calc(50% - 185px), calc(50% + 73px) -85px;
  display: block;
  padding-top: 153px;
  padding-bottom: 530px;
  z-index: 99;

}
.hero-content {
  width: 610px;
  margin-left: auto;
}
.hero__heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 29px;
  }
.hero__headingblue {
  color: var(--hero-headeing-blue);
}
.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  color: var(--hero-text);
  line-height: 21px;
  width: 500px;
}
.hero__link {
padding: 15px 47px;
}
.button-link {
  color: var(--white);
  background-color: var(--black);
  text-decoration: none;
  border-radius: 3px;
}
.button-link:hover {
  opacity: 0.8;
}
.button-link:active {
  opacity: 0.6;
}
.quote {
  position: relative;

}

/* BLOCKQUOTE */
.quote::before {
  content: "";
  background-color:#DBDBDB;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  display: block;
  height: 1px;
  margin-bottom: 43px;

}
.quote::after {
  margin-top: 43px;
  content: "";
  background-color:#DBDBDB;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  display: block;
  height: 1px;

}
.blockquote {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 753px;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  color: var(--hero-text);
}
.blockquote::after {
  content: "";
  background-image: url(../img/q-right.png);
  background-repeat: no-repeat;
  display: block;
  width: 142px;
  height: 128px;
  background-position: calc(70% );
}
.blockquote::before {
  content: "";
  background-image: url(../img/q.png);
  background-repeat: no-repeat;
  display: block;
  width: 142px;
  height: 128px;
  background-position: calc(70% ) 1px;
}
.quote__person {
  width: 357px;
  margin-left: auto;
  margin-right: auto;
  border-top: 35px;
  color: var(--black);
  font-size: 20px;
  line-height: 26px;
}


/* subscription */

.site-subscription {
  background-image: url(../img/sub-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 88px;

}
.subscription {
  position: relative;

}
.subscription__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: var(--white);
}
.subscription-form {
  display: flex;
}
.subscription-form::after {
  content: "";
  background-image: url(../img/sub-dog.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 620px;
  height: 480px;
  position: absolute;
  top: -189px;
  right: 80px;

}
.subscription-input {
  padding: 18px 147px 12px 22px;
  border: 1px solid #ccc;
  outline: none;
}
.subscription__button {
  width: 188px;
  height: 50px;
  border-radius: 3px;
  /* padding: 5px 22px; */
  margin-left: 22px;

}

.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.input {
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}
.submit__button {
  padding: 11px 22px;
  background-color: white;
  color: #000;
  border: 1px solid #ccc;
  font-weight: bolt;
}
input[type="email"]{
  border-color: black;
}
input[type="email"]:valid {
  border-color: greenyellow;
}
input[type="email"]:invalid {
  border-color: red;
}


