@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --address-bg:#F9F8F8;
  --white: #fff;
  --site-bg: #E5E5E5;
  --black: #333333;
  --dot-yellow: #FFBD54;
  --hero-headeing-blue: #78C0DE;
  --hero-text: #949494;
  --nav-hover: #F4FFAD;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Futura PT", "Arial", sans-serif;
  background-image: url(../img/Home_page.png);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--site-bg);
  margin: 0;
  z-index: -99;
  overflow-x: hidden;
}
.container {
  max-width: 1350px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.site_header {
  position: relative;
}

/* SITE HEADER ADDRESS */
.address-header {
  color: var(--black);
  margin-top: 11px;
  margin-bottom: 9px;
}
.address__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 110px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

}
.address__item {
  /* padding-left: 15px; */
  display: flex;
  align-items: center;


}
.address__item:last-child {
  display: flex;
  align-items: center;
}
.address_text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.home::before {
  content: "";
  background-image: url(../img/address-home-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  width: 14px;
  height: 13px;
  left: 12px;
  margin-right: 9px;
}
.phone::before {
  content: "";
  background-image: url(../img/address-phone-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 9px;
  width: 13px;
  height: 13px;
  /* left: 12px; */
  margin-right: 9px;
}
.calendar::before {
  content: "";
  background-image: url(../img/address-calendar-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 9px;
  width: 14px;
  height: 14px;
  /* left: 12px; */
  margin-right: 9px;
}


.dot::before {
  display: inline-flex;
  align-self: center;
   content: "";
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color:var(--dot-yellow);
    margin-right: 9px;
}
.address__phone {
  text-decoration: none;
  color: var(--black);
  margin-right: 22px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
}


/* SITENAV */
.sitenav-main {


  background-color: var(--white);
}
.sitenav-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  position: absolute;
  transform: translateY(-22%);
  left: -80px;
  top: 0;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: auto;
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  margin-right: 30px;
  position: relative;
  z-index: 1;
}
.sitenav__list-item:active {
  opacity: 0.6;
}
.link {
  position: relative;
  z-index: 5;
}
.link:active {
  opacity: 0.6;
}
.sitenav__list-item::after {
  content: "";
  position: absolute;
  background-color: var(--nav-hover);
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 4px;
  z-index: -1;
  opacity: 0;
}

.sitenav__list-item:hover::after{
  opacity: 1;
}

.active {
  display: flex;
}
.active::before {
  content: "";
  background-image: url(../img/active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 9px;
  width: 14px;
  height: 14px;
  margin-right: 9px;
}
.sitenav__list-item:hover {
  margin-right: 30px;
}
.sitenav__link {
  text-decoration: none;
  color: var(--black);
}
.sitenav__link:hover {
  color: #2D314D;
}

.header__link {
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
}
.header__link::before {
  content: "";
  background-image: url(../img/header-link-hand.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  width: 23px;
  height: 20px;
  margin-right: 5px;
}


.main {
  background-color: var(--site-bg);
  z-index: -1;
}


/* HERO */
.hero {

  background-image: url(../img/heero-bg-animals.svg), url(../img/hero-bg-parrot.svg);
  /* background-size: cover,cover; */
  background-repeat: no-repeat;
  background-position: calc(50% - 80px) -185px, calc(50% + 73px) -85px;
  display: block;
  padding-top: 153px;
  padding-bottom: 530px;
  z-index: 99;

}
.hero-content {
  width: 610px;
  margin-left: auto;
}
.hero__heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 29px;
  }
.hero__headingblue {
  color: var(--hero-headeing-blue);
}
.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  color: var(--hero-text);
  line-height: 21px;
  width: 500px;
}
.hero__link {
padding: 15px 47px;
}
.button-link {
  color: var(--white);
  background-color: var(--black);
  text-decoration: none;
  border-radius: 3px;
  border: none;

}
.button-link:hover {
  opacity: 0.8;
}
.button-link:active {
  opacity: 0.6;
}
.quote {
  position: relative;

}

/* BLOCKQUOTE */
.quote::before {
  content: "";
  background-color:#DBDBDB;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  display: block;
  height: 1px;
  margin-bottom: 43px;

}
.quote::after {
  margin-top: 43px;
  content: "";
  background-color:#DBDBDB;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  display: block;
  height: 1px;

}
.blockquote {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 753px;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  color: var(--hero-text);
}
.blockquote::after {
  content: "";
  background-image: url(../img/q-right.png);
  background-repeat: no-repeat;
  display: block;
  width: 142px;
  height: 128px;
  background-position: calc(70% );
}
.blockquote::before {
  content: "";
  background-image: url(../img/q.png);
  background-repeat: no-repeat;
  display: block;
  width: 142px;
  height: 128px;
  background-position: calc(70% ) 1px;
}
.quote__person {
  width: 357px;
  margin-left: auto;
  margin-right: auto;
  border-top: 35px;
  color: var(--black);
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 100px;
}


/* subscription */

.site-subscription {
  background-image: url(../img/sub-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 88px;

}
.subscription {
  position: relative;


}
.subscription__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: var(--white);
}
.subscription-form {
  display: flex;
}
.subscription-form::after {
  content: "";
  background-image: url(../img/sub-dog.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 620px;
  height: 480px;
  position: absolute;
  top: -189px;
  right: 80px;

}
.subscription-input {
  padding: 18px 147px 12px 22px;
  border: 1px solid #ccc;
  outline: none;
}
.subscription-input[type="email"]{
  border-color: black;
}
.subscription-input[type="email"]:valid {
  border-color: greenyellow;
}
.subscription-input[type="email"]:invalid {
  border-color: red;
}
.subscription__button {
  width: 188px;
  height: 50px;
  border-radius: 3px;
  /* padding: 5px 22px; */
  margin-left: 22px;

}


/* MAP */
.site-map {
  padding-top: 100px;
  padding-bottom: 245px;
}
.map-wrapper {
  display: flex;
}
.map-item {
  width: 375px;
}
.map-form {
  background-image: url(../img/form-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 166px;
  padding-right: 375px;

}


.map__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: var(--white);
  }
  .map__text {
    line-height: 20px;
    color: var(--hero-text);
    width: 334px;
  }
.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.input {
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}
.submit__button {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFBD54;
  color: var(--white);
  border: 1px solid #ccc;
  font-weight: 500;
  width: 226px;

}
.submit__button:hover {
  opacity: 0.8 ;
  transition: 0.3 ease;
}
.submit__button:active {
  opacity: 0.6 ;
  transition: 0.3 ease;
}


  /* SITE FOOTER */
.site-footer {
  padding-top: 62px;
  padding-bottom: 23px;
 }
 .footer {
   display: flex;
   justify-content: space-around;
 }
 .footer-date {
   /* display: flex; */
   margin-left: -5px;
 }
 .date {
   margin-left: 5px;
   margin-top: 0;
   margin-bottom: 3px;
 }
 .date-2 {
   padding-left: 28px;
 }
 .date__day {
   font-weight: bold;
   margin-right: 5px;
 }
 .calendar {
   display: flex;
 }
 .calendar::before {
  background-image: url(../img/calendar.svg);

 }
 .footer-address {
   display: flex;
 }

.footer-address {
  margin-top: 0;
  margin-bottom: 0;
  width: 200px;
}
.address__text::before {
  content: "";
  display: inline-block;
  background-image: url(../img/home.svg);
  padding: 8px;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.bottom {
  padding-left: 25px;
  margin-bottom: 0;
  margin-top: 0;

}
.footerphone {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

}
.phoner__item {
  display: flex;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.phone__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-decoration: none;
}
.pitem {
  padding-left: 26px;
}
.site-services {
}


.services__headeing {
  margin-top: 0;
  margin-bottom: 14px;
}
.services__headeing::before {
  content: "";
  background-image: url(../img/doctor.svg);
  background-repeat: no-repeat;
  width: 54px;
  height: 77px;
}
.services__list {
  list-style: none;
  margin-left: -30px;
  padding-left: 0;
}
.services__item {
  margin-left: 30px;
  width: 305px;
  padding: 58px 0 45px 53px;
  background-color: var(--white);
}
.services__text {
  margin-top: 0;
  margin-bottom: 34px;

}
.services__button {
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
  padding: 15px 29px;
}

/* FAQ */
.faq-hero {
}

.faq {
  padding-top: 117px;
  padding-bottom: 288px;
}
.faq__heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 21px;
}
.faq__text {
  color: var(--hero-text);
  width: 410px;
  margin-top: 0;
  margin-bottom: 0;
}
.faq__text::after {
  content: "";
  /* display: block;   */
  background-image: url(../img/faq-hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 670px;
  height: 235px;
}
.button__faq {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid #ccc;
  font-weight: 500;
  width: 226px;
  border: none;

}
.faq__heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  color: var(--black);
}


/* SITE MODAL */
.site-modal {
  position: relative;

  display: none;
  background-image: url(../img/modal-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFBD54;
  width: 850px;
  padding-top: 119px;
  padding-bottom: 137px;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

}
.mogal-bg-color--active {
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: red;
  width: 100%;
  height: 100%;
}
.site-modal--open {
  display: block;
}
.modal-content {
  padding-top: 22px;
  margin-right: 100px;
}
.modal-wrapper {
  display: flex;
  padding-right: 70px;
}
.modal-content__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 21px;
}
.modal-link__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__button--close {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 15px;
  cursor: pointer;
}
.modal-content__link {
  display: flex;
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  padding: 14px 36px 15px 68px;
  white-space: nowrap;
}
.modal-content__link::before {
  content: "";
  background-image: url(../img/google.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  display: block;
}
.modal__facebook::before {
  content: "";
  background-image: url(../img/modal-facebook.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  display: block;
}
.modal__facebook {
  margin-top: 21px;
}
.form-item {
  width: 335px;
}